/* main color */
$color_white: #fff;
$color_silver: #e1dede;
$color_lightGrey: #f5f4f4;
$color_grey: #e0e0e0;
$color_greyWhite: #fafafa;
$color_lightBrown: #c4afa4;

$colors: (
    'silver': $color_silver,
    'lightGrey': $color_lightGrey,
    'grey': $color_grey,
    'greyWhite': $color_greyWhite,
    'lightBrown': $color_lightBrown,
    'white': $color_white
)
