/* main color */
$color_white: #fff;
$color_silver: #e1dede;
$color_lightGrey: #f5f4f4;
$color_grey: #e0e0e0;
$color_greyWhite: #fafafa;
$color_lightBrown: #c4afa4;
$color_iron: #9f9999;
$color_brown: #7f7474;
$color_lightPink: #fff4ee;

$colors: (
    'silver': $color_silver,
    'lightGrey': $color_lightGrey,
    'grey': $color_grey,
    'greyWhite': $color_greyWhite,
    'lightBrown': $color_lightBrown,
    'iron': $color_iron,
    'brown': $color_brown,
    'lightPink': $color_lightPink,
    'white': $color_white
)
