@import "_variables.scss";
@import "_color.scss";

.text {
    @include class-generate($colors,'color', false, '-');
}
//
//.text-extraBold {
//  font-family: "CerebriSans-ExtraBold", sans-serif;
//}
//
//.text-bold {
//  font-family: "CerebriSans-Bold", sans-serif;
//}
//
//.text-semiBold {
//  font-family: "CerebriSans-SemiBold", sans-serif;
//}
//
//.text-medium {
//  font-family: "CerebriSans-Medium", sans-serif;
//}
//
//.text-regular {
//  font-family: "CerebriSans-Regular", sans-serif;
//}
//
//.text-light, .text-thin {
//  font-family: "CerebriSans-Light", sans-serif;
//}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

h1, h2, h3, h4, h5 , h6 {
  //font-family: "CerebriSans-ExtraBold", sans-serif;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}

h1, .size-32 {
    @include responsive-type('font-size', $min-vw, $max-vw, 32px, 48px);
}

h2, .size-28 {
    @include responsive-type('font-size', $min-vw, $max-vw, 24px, 44px);
}

h3, .size-24 {
    @include responsive-type('font-size', $min-vw, $max-vw, 16px, 28px);
}

h4, .size-20 {
    @include responsive-type('font-size', $min-vw, $max-vw, 14px, 16px);
}

h5, .size-16 {
    @include responsive-type('font-size', $min-vw, $max-vw, 12px, 14px);
}

h6, .size-12 {
    @include responsive-type('font-size', $min-vw, $max-vw, 10px, 12px);
}

p {
    font-family: "CerebriSans-Book", sans-serif;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    @include responsive-type('font-size', $min-vw, $max-vw, 12px, 16px);
}

.textWrapper {
    p {
        margin-bottom: 10px;
        line-height: 1.8;
    }
}
