@import "_mixin.scss";

/*-------------------------------*/
/*       Default root value      */
/*-------------------------------*/

$max-vw: 1800px;
$min-vw: 320px;

$default-font-value: 12px;

$default-min-space: 20px;
$default-max-space: 30px;

$default-space: 15px;
/*-------------------------------*/
/*          screen size          */
/*-------------------------------*/

$max1024: "(max-width: 1024px)";
$max992: "(max-width: 992px)";
$max768: "(max-width: 768px)";
$max720: "(max-width: 720px)";
$max414: "(max-width: 414px)";

/*-------------------------------*/
/*           Flex style          */
/*-------------------------------*/

.flex {
    @include auto-prefix('display', flex);
}

.flex-row {
    @include auto-prefix('flex-direction', row);
}

.flex-column {
    @include auto-prefix('flex-direction', column);
}

.flex-spaceAround {
    @include auto-prefix('justify-content', space-around);
}

.flex-spaceBetween {
    @include auto-prefix('justify-content', space-between);
}

.flex-spaceEvenly {
    @include auto-prefix('justify-content', space-evenly);
}

.flex-start {
    @include auto-prefix('justify-content', flex-start);
}

.flex-end {
    @include auto-prefix('justify-content', flex-end);
}

.flex-center {
    @include auto-prefix('justify-content', center);
    @include auto-prefix('align-items', center);
}

.flex-horizontal-center {
    @include auto-prefix('align-items', center);
}

.flex-bottom-align {
    @include auto-prefix('align-items', flex-end);
}

.flex-row-reverse {
    @include auto-prefix('flex-direction', row-reverse);
}

.flex-baseline {
    @include auto-prefix('align-items', baseline);
}

.padding {
    @include responsive-type('padding', $min-vw, $max-vw, $default-space, 25px);
}

.padding-top {
    padding-top: $default-space;
}

.padding-bottom {
    padding-bottom: $default-space;
}

.padding-left {
    padding-left: $default-space;
}

.padding-right {
    padding-right: $default-space;
}

.showItem {
    display: block;
}

.hideItem {
    display: none;
}

/*-------------------------------*/
/*            Background         */
/*-------------------------------*/

.background {
    @include class-generate($colors,'background-color', false, '-');
}

/*-------------------------------*/
/*             Text              */
/*-------------------------------*/

.text {
  @include class-generate($colors,'color', false, '-');
}

/*-------------------------------*/
/*        General Variables      */
/*-------------------------------*/


.singleTextElipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}

.multiLineTextElipsis {
    overflow: hidden;
    text-overflow: ellipsis;

    display: box;
    line-clamp: 4;
    orient: vertical;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;


    display: -moz-box;
    -moz-line-clamp: 4;
    -moz-box-orient: vertical;

    display: -o-box;
    -o-line-clamp: 4;
    -o-box-orient: vertical;
}
