@import "./styles/index";


.main-content {

    .main-content-wrapper {
        position: relative;
        max-width: $max-vw;
        min-width: $min-vw;
        min-height: 100vh;
        height: 100%;
        @include auto-prefix('display', flex);
        @include auto-prefix('flex-direction', column);

        .site-content {

            @include auto-prefix('flex', 1);
        }
    }
}

// test code delete later

.reduxText {

    margin: 100px auto;
}
